openapi: 3.0.3
info:
  title: Onboarding API
  description: |-
   it's my student reference: STD22005
  version: 1.0.11
servers:
  - url: https://STD22005.com
paths:
  /students:
    post:
      tags:
        - "students"
      summary: Add a new student
      description: Add a new student
      operationId: addStudent
      requestBody:
        description: Student object to be added
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '405':
          description: Invalid input
    get:
      tags:
        - "students"
      summary: Retrieve students
      description: Retrieve a list of students
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Invalid status value
  /students/{id}:
    put:
      tags:
        - "students"
      summary: Update a student by ID
      description: Update a student by ID
      operationId: updateStudent
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the student to be updated
          schema:
            type: integer
            format: int64
      requestBody:
        description: Student object to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Student"
          application/xml:
            schema:
              $ref: "#/components/schemas/Student"
      responses:
        '200':
          description: Operation successful, the student has been updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Student"
            application/xml:
              schema:
                $ref: "#/components/schemas/Student"
        '500':
          description: Oops, there's an error with the server
    delete:
      tags:
        - "students"
      summary: Delete a student by ID
      description: Delete a student by ID
      operationId: deleteStudent
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the student to be deleted
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation successful, the student has been deleted
        '404':
          description: Student not found
        '500':
          description: Oops, there's an error with the server
  /teachers:
    post:
      tags:
        - "teachers"
      summary: Ajouter un nouvel enseignant
      description: Ajouter un nouvel enseignant
      operationId: addTeacher
      requestBody:
        description: Objet enseignant à ajouter
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '200':
          description: Opération réussie, l'enseignant a été ajouté
        '405':
          description: Entrée invalide
components:
  schemas:
    Student:
      required:
        - name
      type: object 
      properties:
        id:
          type: integer
          format: int64
          example: 1 
        name:
          type: string
          example: Andriamihaja Nathanaël
        birthDate:
          type: string
          format: date
    Teacher:
      required:
        - firstName
        - lastName
        - courses
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        courses:
          type: array
          items:
            type: string
          example:
            - Math
            - Science
  requestBodies:
    Student:
      description: Student object  that needs to be added
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Student'
        application/xml:
          schema:
            $ref: '#/components/schemas/Student'
    Teacher:
      description: Teacher that needs to be added
      content:
        application/json:
          schema:  
            $ref: "#/components/schemas/Teacher"
        application/xml:
          schema: 
            $ref: "#/components/schemas/Teacher"
   
  