openapi: 3.0.3
info:
  title: Onboarding API
  description: |-
   it's my student reference: STD22005
  version: 1.0.11
servers:
  - url: https://STD22005.com
paths:
  /students:
    post:
      tags:
        - "students"
      summary: Add a new student
      description: Add a new student
      operationId: addPet
      requestBody:
        description: Create a new student
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'          
        '405':
          description: Invalid input
    
    get:
      tags:
        - "students"
      summary: receive student
      description: receive student
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        '400':
          description: Invalid status value
    put:
      tags:
        - "students"
      summary: update a new student
      description: update a new student by Id
      operationId: updateStudent
      requestBody:
        description: need a student
        content:
          application/json:
            schema:
              $ref : "#/components/schemas/Student"
          application/xml:
            schema:
              $ref: "#/components/schemas/Student"
      responses:
        '200':
          description: Operation successful, the student is been updated
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Student"
            application/xml:
              schema:
                $ref: "#/components/schemas/Student"
        '500':
          description: Oops, there's an error with the server
components:
  schemas:
    Student:
      required:
        - name
      type: object 
      properties:
        id:
          type: integer
          format: int64
          example: 1 
        name:
          type: string
          example: Andriamihaja Nathanaël
        birthDate:
          type: string
          format: date
  requestBodies:
    Pet:
      description: Student object  that needs to be added
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Student'
        application/xml:
          schema:
            $ref: '#/components/schemas/Student'
   
  